.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navUserMenu {
  height: 50px;
}

.navBar {
  background-color: rgb(255, 255, 255);
}

.navRightSide {
  display: flex;
  align-items: center;
}

.navMenuLinks {
  display: flex;
}

.menuLinkItem {
  padding-right: 20px;
}
